body{

	background-color: #000;
	font:arial;
	color: #fff;


}

h1{
	color: #000;
	font: verdana;

}

.Div1{
background-color: grey;
color: #000;
width: 300px;
padding: 20px;
border-radius: 25px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.highlight {

	background-color: : yellow;


}


#result{

	margin-top:3%;
}

.prin{
text-align: center;
color:#000;
border-color: none;
border-width: 5px;
border-radius: 2em 2em;
height: 20px;
border-style: none;
outline-width: 0px;

}




.rate{
	color: #000;
	width: 160px;
	align-self: 50%;
	border-radius: 2em 2em;
	transition: 0.1s all ease-out;

}



.years{
text-align: center;
color:#000;
border-color: none;
border-width: 2px;
border-radius: 2em 2em;
height: 20px;
border-style: none;
outline-width: 0px;
user-select: none;


}


	





.button{
	

	font-size: 13px;
	border-radius: 15em 12em;
	outline-width: 0px;
	border-width: 2px;

}

.button{

	margin-top: 15px;
	padding:4px 12px;



}

